<config>
    <modules>
        <Yottaa_Yottaa>
            <version>1.0.0</version>
        </Yottaa_Yottaa>
    </modules>
    <global>
        <models>
            <yottaa_yottaa>
                <class>Yottaa_Yottaa_Model</class>
            </yottaa_yottaa>
        </models>
        <helpers>
            <yottaa_yottaa>
                <class>Yottaa_Yottaa_Helper</class>
            </yottaa_yottaa>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <yottaa before="Mage_Adminhtml">Yottaa_Yottaa_Adminhtml</yottaa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <yottaa>
                    <file>yottaa.xml</file>
                </yottaa>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <yottaa>Yottaa_Yottaa.csv</yottaa>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <yottaa_config translate="title" module="yottaa_yottaa">
                        <title>Yottaa</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/yottaa</action>
                    </yottaa_config>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <yottaa_config>
                                    <title>Yottaa</title>
                                    <sort_order>100</sort_order>
                                </yottaa_config>
                                <config>
                                    <children>
                                        <yottaa>
                                            <title>Store Yottaa Module Section</title>
                                        </yottaa>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 