<config>
    <modules>
        <Yottaa_Yottaa>
            <version>1.0.0</version>
        </Yottaa_Yottaa>
    </modules>
    <global>
        <models>
            <yottaa_yottaa>
                <class>Yottaa_Yottaa_Model</class>
                <resourceModel>yottaa_yottaa_resource_mysql4</resourceModel>
            </yottaa_yottaa>
            <yottaa_yottaa_resource_mysql4>
                <class>Yottaa_Yottaa_Model_Resource_Mysql4</class>
            </yottaa_yottaa_resource_mysql4>
        </models>
        <helpers>
            <yottaa_yottaa>
                <class>Yottaa_Yottaa_Helper</class>
            </yottaa_yottaa>
        </helpers>
        <events>
            <!-- clean yottaa page cache together with magento -->
            <controller_action_postdispatch_adminhtml_cache_flushAll>
                <observers>
                    <yottaa_yottaa_product_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>flush_yottaa_cache</method>
                    </yottaa_yottaa_product_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushAll>
            <controller_action_postdispatch_adminhtml_cache_flushSystem>
                <observers>
                    <yottaa_yottaa_product_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>flush_yottaa_cache</method>
                    </yottaa_yottaa_product_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_cache_flushSystem>

            <!-- clean yottaa js/css cache together with magento -->
            <clean_media_cache_after>
                <observers>
                    <enterprise_pagecache>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>flush_yottaa_cache</method>
                    </enterprise_pagecache>
                </observers>
            </clean_media_cache_after>

            <!-- clean yottaa catalog images cache together with magento -->
            <clean_catalog_images_cache_after>
                <observers>
                    <enterprise_pagecache>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>flush_yottaa_cache</method>
                    </enterprise_pagecache>
                </observers>
            </clean_catalog_images_cache_after>
            
            <catalog_category_save_after>
                <observers>
                    <yottaa_yottaa_product_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>catalog_category_save_after</method>
                    </yottaa_yottaa_product_observer>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <yottaa_yottaa_product_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>catalog_product_save_after</method>
                    </yottaa_yottaa_product_observer>
                </observers>
            </catalog_product_save_after>
            <checkout_cart_save_after>
                <observers>
                    <yottaa_yottaa_cart_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>checkout_cart_save_after</method>
                    </yottaa_yottaa_cart_observer>
                </observers>
            </checkout_cart_save_after>
            <customer_login>
                <observers>
                    <yottaa_yottaa_customer_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>customer_login</method>
                    </yottaa_yottaa_customer_observer>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <yottaa_yottaa_customer_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>customer_logout</method>
                    </yottaa_yottaa_customer_observer>
                </observers>
            </customer_logout>
            <core_session_abstract_add_message>
                <observers>
                    <yottaa_yottaa_cart_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>core_session_abstract_add_message</method>
                    </yottaa_yottaa_cart_observer>
                </observers>
            </core_session_abstract_add_message>
            <wishlist_add_product>
                <observers>
                    <yottaa_yottaa_wishlist_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>wishlist_add_product</method>
                    </yottaa_yottaa_wishlist_observer>
                </observers>
            </wishlist_add_product>
            <!--
            <wishlist_items_renewed>
                <observers>
                    <yottaa_yottaa_wishlist_observer>
                        <type>singleton</type>
                        <class>Yottaa_Yottaa_Model_Observer</class>
                        <method>wishlist_items_renewed</method>
                    </yottaa_yottaa_wishlist_observer>
                </observers>
            </wishlist_items_renewed>
            -->
        </events>
        <remote_addr_headers><!-- list headers that contain real client IP if webserver is behind a reverse proxy -->
            <header1>HTTP_X_FORWARDED_FOR</header1>
        </remote_addr_headers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <yottaa before="Mage_Adminhtml">Yottaa_Yottaa_Adminhtml</yottaa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <yottaa>
                    <file>yottaa.xml</file>
                </yottaa>
            </updates>
        </layout>
        <translate>
            <modules>
                <mage_adminhtml>
                    <files>
                        <yottaa>Yottaa_Yottaa.csv</yottaa>
                    </files>
                </mage_adminhtml>
            </modules>
        </translate>
        <menu>
            <system>
                <children>
                    <yottaa_config translate="title" module="yottaa_yottaa">
                        <title>Yottaa</title>
                        <sort_order>100</sort_order>
                        <action>adminhtml/yottaa</action>
                    </yottaa_config>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <yottaa_config>
                                    <title>Yottaa</title>
                                    <sort_order>100</sort_order>
                                </yottaa_config>
                                <config>
                                    <children>
                                        <yottaa>
                                            <title>Store Yottaa Module Section</title>
                                        </yottaa>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config> 